.skip-link {
	position: absolute;
	z-index: 10000;
	top: -40px;
	left: 0;
	padding: 6px;
	transition: top 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	border-bottom-right-radius: 8px;
	background: #bf1722;
	color: white;
}

a.skip-link:focus {
	position: absolute;
	top: 0;
	left: 0;
	transition: top 0.1s ease-in;
	outline: 0;
}
