.header {
	display: flex;
	z-index: 4;
	align-items: center;
	width: 100%;
	padding: 4px 0;
	box-shadow: rgba(0 0 0 / 15%) 0 2px 4px;
}

.header-left {
	composes: header;
}

.header-right {
	composes: header;
	flex-direction: row-reverse;
}

.header-subheader {
	display: flex;
	flex: 1;
	align-content: space-between;
	align-items: center;
	padding: 0;
	overflow: hidden;
}

.header-subheader-left {
	composes: header-subheader;
}

.header-subheader-right {
	composes: header-subheader;
	flex-direction: row-reverse;
}
