.content-direction {
	height: 100%;
	overflow-y: auto;
}

.content-direction-left {
	composes: content-direction;
	direction: rtl;
}

.content-direction-right {
	composes: content-direction;
	direction: ltr;
}

.content-direction-right:focus,
.content-direction-left:focus {
	outline: none;
}

.content-container {
	direction: ltr;
	display: inline-flex;
	flex-direction: column;
	width: 100%;
	min-width: 100%;
	height: 100%;
}

.content-container[hidden] {
	display: none;
}

.content {
	flex: 1;
}

.content-focus {
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.content-focus:focus {
	outline: none;
}

.content-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.content-mask-left {
	composes: content-mask;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 8px 0 12px -8px rgba(0 0 0 / 40%) inset;
	pointer-events: none;
}

@-moz-document url-prefix("") {
	.content-mask-left {
		box-shadow: 8px 0 7px -8px rgba(0 0 0 / 40%) inset;
	}
}

.content-mask-right {
	composes: content-mask;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: -8px 0 12px -8px rgba(0 0 0 / 40%) inset;
	pointer-events: none;
}

@-moz-document url-prefix("") {
	.content-mask-right {
		box-shadow: -8px 0 7px -8px rgba(0 0 0 / 40%) inset;
	}
}

.content-container-first .content-mask-left {
	box-shadow: none;
}

.content-container-last .content-mask-right {
	box-shadow: none;
}

.content-container-no-shadow .content-mask-right,
.content-container-no-shadow .content-mask-left {
	box-shadow: none;
}

.footer-container {
	flex: 0;
	box-shadow: rgba(0 0 0 / 15%) 0 -2px 4px;
}

@-moz-document url-prefix("") {
	.footer-container {
		box-shadow: rgba(0 0 0 / 15%) 0 -2px 4px;
	}
}

/* Force margins to not collapse */
.footer-container > div:first-child::before,
.footer-container > div:first-child::after {
	content: "";
	display: table;
}
