.drawer-header {
	z-index: 1;
	padding: 4px;
	overflow-x: auto;
	overflow-y: hidden;
	background-color: #fff;
	box-shadow: rgba(0 0 0 / 15%) 0 2px 4px;
	white-space: nowrap;
}

.drawer-header > :first-child {
	margin-left: 0;
}

.drawer-header > :last-child {
	margin-right: 0;
}

.drawer-header > button {
	margin: 2px;
}
