.header-tabs {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

.header-tabs-left {
	composes: header-tabs;
}

.header-tabs-left > :first-child {
	margin-left: 0;
}

.header-tabs-right {
	composes: header-tabs;
}

.header-tabs-right > :last-child {
	margin-right: 0;
}

.header-tabs > * {
	margin: 0 2px;
}
