.react-swipeable-view-container {
	height: 100%;
}

.react-swipeable-view-container > div {
	position: relative;
	height: 100%;
}

.react-swipeable-view-container > div > div {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
