.app {
	display: flex;
	flex-flow: column;
	height: 100%;
}

.main {
	height: 100%;
	outline: none;
}

.header-content {
	z-index: 4;
	margin: 0;
	padding: 0;
}

.sidebar-root {
	position: relative !important;
	flex: 1;
}

.drawers {
	display: flex;
	flex-direction: column;
	height: 100%;
	transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms !important;
}

.sidebar-content {
	overflow: auto !important;
	transition:
		left 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms,
		right 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms !important;
}

.sidebar-content-left {
	composes: sidebar-content;
	box-shadow: color-function(0, 0, 0, 15%) 4px 0 4px;
}

.sidebar-content-right {
	composes: sidebar-content;
	box-shadow: rgba(0 0 0 / 15%) -4px 0 4px;
}

.sidebar-overlay {
	transition:
		opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms,
		visibility 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms !important;
	background-color: rgba(0 0 0 / 0%) !important;
	pointer-events: none;
}
